

.jumbotron {
    background-color: pink;
    color: black;
    margin-top: 40px;
   
}

footer {
    padding: 10px, 10px, 0, 10px;
    background-color: pink;
    margin-bottom: 0;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
 
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-adress-icon{
    padding: 10px;
}

.tab-content {
    padding-top: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: pink;
    color: black;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color:palevioletred;
    border-color:palevioletred;
}

.suscribite {

    background-color: palevioletred;
    padding: 35px;
    margin: 35px;
    
}

.info-suscribite {
    color: white;
    font-size: 20px;
}

.popover {
    color: palevioletred;
 
}