.jumbotron {
  background-color: #e7147e;
  color: white;
  margin-top: 40px;
  margin-bottom: 0; }

footer {
  padding: 10px, 10px, 0, 10px;
  background-color: #e7147e;
  margin-top: 10px;
  margin-bottom: 0; }

footer a {
  color: white; }

footer a:hover {
  color: #fcd4e1;
  text-decoration: none; }

footer address {
  color: white; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-adress-icon {
  padding: 10px; }

.tab-content {
  padding-top: 10px; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #e7147e;
  color: black; }

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #DB7093;
  border-color: #DB7093; }

.suscribite {
  background-color: #DB7093;
  padding: 35px;
  margin: 35px; }

.info-suscribite {
  color: white;
  font-size: 20px; }

.popover {
  color: #DB7093; }
