$magenta: #e7147e; 
$palePink: #DB7093;
$blanco: white;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}

.jumbotron {
    background-color: $magenta;
    color: $blanco;
    @include margenes (40px, 0);
   
}

footer {
    padding: 10px, 10px, 0, 10px;
    background-color: $magenta;
    @include margenes (10px, 0);
}

footer a {
    color:$blanco;
}

footer a:hover {
    color: #fcd4e1;
    text-decoration: none;
}

footer address {
    color: $blanco;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
 
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-adress-icon{
    padding: 10px;
}

.tab-content {
    padding-top: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: $magenta;
    color: black;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: $palePink;
    border-color: $palePink;
}

.suscribite {

    background-color: $palePink;
    padding: 35px;
    margin: 35px;
    
}

.info-suscribite {
    color: white;
    font-size: 20px;
}

.popover {
    color: $palePink;
 
}