@magenta: #8B008B; 
@palePink: #DB7093;
@blanco: white;

.margenes(@top 0, @bottom 0) {
  margin-top: @top;
  margin-bottom: @bottom;
  
}

.jumbotron {
    background-color: @magenta;
    color: @blanco;
    .margenes(50px, 0)    
  }
  
  footer {
    padding: 10px, 10px, 0, 10px;
    background-color: @magenta;
    .margenes(10px, 0)}
  
  .card-hotel {
    flex: 1 200px;
    margin-top: 10px; }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-adress-icon {
    padding: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: @magenta;
    color: black; }
  
  .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: @palePink;
    border-color: @palePink; }
  
  .suscribite {
    background-color: @palePink;
    padding: 35px;
    margin: 35px; }
  
  .info-suscribite {
    color: white;
    font-size: 20px; }
  
  .popover {
    color: @palePink; }
  