.jumbotron {
  background-color: #8B008B;
  color: white;
  margin-top: 40px;
  margin-bottom: 0;
}
footer {
  padding: 10px, 10px, 0, 10px;
  background-color: #8B008B;
  margin-top: 10px;
  margin-bottom: 0;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-adress-icon {
  padding: 10px;
}
.tab-content {
  padding-top: 10px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #8B008B;
  color: black;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #DB7093;
  border-color: #DB7093;
}
.suscribite {
  background-color: #DB7093;
  padding: 35px;
  margin: 35px;
}
.info-suscribite {
  color: white;
  font-size: 20px;
}
.popover {
  color: #DB7093;
}
